.App {
  text-align: center;
}
body {
  background: #e6edf3;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.container .box {
  width: 60%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.container .box .loading {
  font-size: 20px;
  font-weight: 600;
  padding: 30px 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .box .card {
  width: 200px;
  height: 220px;
  background: #fff;
  box-shadow: 0 0 10px lightgray;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px 17px 15px 17px;
  text-align: left;
  overflow: hidden;
}
.container .box .card .crossIconBox {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.container .box .card .crossIconBox .crossIcon {
  text-align: right;
  width: 30px;
  color: red;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
}
.container .box .card .title {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.container .box .card .body {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.container .box .card .time {
  font-size: 14px;
  font-weight: 700;
  color: lightgray;
  margin: 10px 0;
}
.container .box .card img {
  width: 100%;
  height: 90px;
  border-radius: 5px;
}
.App .navigation {
  width: 400px;
  margin: 15px auto 0 auto;
}
